@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/Montserrat-Bold.ttf");
}

.splashscreen{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;

    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        font-family: "montserratBold";
    }
}