.filter {
	padding: 1rem;
	background-color: white;
	article {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		input {
			background-color: var(--bgColor);
			border: none;
			border-radius: 10px;
			padding: 1rem;
			width: 100%;
			font-family: inherit;
		}
		a {
			position: absolute;
			right: 1rem;
		}
	}

	article:last-of-type {
		margin: 1rem 0 0;
		overflow: scroll;
		scroll-snap-type: x mandatory;
		gap: 1rem;
		.button {
			white-space: nowrap;
			font-size: 1rem;
			scroll-snap-align: start;
			position: static;
			border: none;
			border-radius: 10px;
			padding: 1rem;
			width: 100%;
			font-family: inherit;
		}
	}
}

.active {
	color: white;
	background-color: var(--primary, red);
}
.inactive {
	background-color: var(--bgColor);
}
