.filter {
	padding: 1rem;
	background-color: white;
	article {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		input {
			background-color: var(--bgColor);
			border: none;
			border-radius: 10px;
			padding: 1rem;
			width: 100%;
			font-family: inherit;
			font-size: 1.1rem;
		}
		input[type="search"]::-webkit-search-decoration,
		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-results-button,
		input[type="search"]::-webkit-search-results-decoration {
			display: none;
		}
		a {
			position: absolute;
			right: 1rem;
		}
	}

	.genreButtons {
		margin: 1rem 0rem 0rem 0rem;
		padding-bottom: 1rem;
		overflow: scroll;
		scroll-snap-type: x mandatory;
		overscroll-behavior-inline: contain;
		gap: 1rem;
		.button {
			white-space: nowrap;
			font-size: 1rem;
			scroll-snap-align: start;
			position: static;
			border: none;
			border-radius: 10px;
			padding: 1rem;
			width: 100%;
			font-family: inherit;
		}
	}
}

.active {
	color: white;
	background-color: var(--primary, red);
}
.inactive {
	background-color: var(--bgColor);
}

.genreButtons::-webkit-scrollbar {
	width: 0em;
	height: 0.5em;
}
.genreButtons::-webkit-scrollbar-thumb {
	background: #fc2121;
	width: 50pxpx;
	border-radius: 50vw;
}

.genreButtons::-webkit-scrollbar-track {
	background: whitesmoke;
	margin-block: 0.5em;
	border-radius: 100vw;
}
