.introApp {
    text-align: center;
    position: relative;
    img {
        display: block; 
        margin: 0 auto; 
        max-width: 100%;
    }
    .link {
        line-height: 1rem;
        text-decoration: none;
        color: white;
        background-color: red;
        padding: 10px;
        border-radius: 10px;
    }
}