.movieItem{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        padding: 1rem;
        gap: 1rem;
       .poster{
            border-radius: 10px;
            width: 40%;
        }
       .info{
            h3{
                font-size: 1.1rem;
            }
            icon{
                border: 1px solid black;
                display: block;
            }

            
       }
    

}