* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

:root {
	--bgColor: #fbf8ff;
	--primary: #fc2121;
}

.Home .trendingTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.Home .trendingTitle a {
	color: var(--primary);
}

h2 {
	padding: 1rem 0 0 1rem;
}
