@font-face {
	font-family: "Montserrat";
	src: local("Montserrat")
		url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
		format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

:root {
	--bgColor: #fbf8ff;
	--primary: #fc2121;
}

.Home {
	h2 {
		padding: 1rem 0 0 1rem;
		font-size: 2.2rem;
	}
	.trendingTitle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem 0.5rem 0;
		a {
			color: var(--primary);
		}
	}
}

.font-face-montserrat {
	font-family: "Montserrat";
}

.Home {
	height: 100dvh;
}

h2,
h3,
h5,
span:not(.seeMore) {
	font-family: "Poppins-Bold";
}
