.trendSection{
	padding: 0 1rem 0 1rem;

	.trending {

		scroll-snap-align: center;
		position: relative;
		// margin: 0 auto;
		padding: 1rem;
		article {
	
			width: 80vw;
			height: 40svh;
			overflow: hidden;
			font-family: "Poppins-Regular";
			img.poster {
				// padding: 1rem 3rem;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				object-fit: cover;
				object-position: top;
			}
			.info {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-image: linear-gradient(
					180deg,
					#ffffff00 0%,
					#000 95%,
					#000 100%
				);
				color: white;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-end;
				p {
					align-self: center;
				}
				span {
					margin: 1.5rem;
					display: flex;
					align-items: center;
					gap: 0.5rem;
				}
			}
		}
	}
}

// .trending {

// 	scroll-snap-align: center;
// 	position: relative;
// 	// margin: 0 auto;
// 	padding: 1rem;
// 	article {

// 		width: 80vw;
// 		height: 40svh;
// 		overflow: hidden;
// 		font-family: "Poppins-Regular";
// 		img.poster {
// 			// padding: 1rem 3rem;
// 			width: 100%;
// 			height: 100%;
// 			border-radius: 10px;
// 			object-fit: cover;
// 			object-position: top;
// 		}
// 		.info {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			right: 0;
// 			bottom: 0;
// 			background-image: linear-gradient(
// 				180deg,
// 				#ffffff00 0%,
// 				#000 80%,
// 				#000 100%
// 			);
// 			color: white;
// 			border-radius: 10px;
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: flex-end;
// 			align-items: flex-end;
// 			p {
// 				align-self: center;
// 			}
// 			span {
// 				margin: 1.5rem;
// 				display: flex;
// 				align-items: center;
// 				gap: 0.5rem;
// 			}
// 		}
// 	}
// }

.carusell {
	display: flex;
	padding: 1.5rem 3rem;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	overscroll-behavior-inline: contain;
	gap: 2rem;
	
}

.carusell::-webkit-scrollbar {
	width:0em;
	height: .5em;
}
.carusell::-webkit-scrollbar-thumb{
	background: #fc2121;
	border-radius:100vw;
	width: 50px;
}

.carusell::-webkit-scrollbar-track{
	background:whitesmoke;
	margin-block:.5em;
	border-radius:100vw;
}